# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env

# SQLite Database
*.db
*.sqlite3

# Node.js
node_modules/
dist/
dist-ssr/
*.local

# Firebase
.firebase/
firebase-debug.log

# Audio
temp_enroll.wav
temp_test.wav
Data_Set/
Demo_Audio/
kasundi voices/

# Archives and Docs
*.zip
*.docx

# Machine Learning Models & Heavy Files
NoiseRM/pretrained_models/
NoiseRM/vosk-model/
*.ckpt
*.mdl
*.npy
*.fst
*.dubm
*.ie
*.mat
